


.color-picker {

	&__container {
		margin-top: auto;
		margin-bottom: auto;
	}
	
	&__title {
		font-size: 18px;
    color: #666;
    display: block;
		text-align: right;
	}

	&__btns {
		display: flex;
    flex-wrap: wrap;
		justify-content: flex-end;
	}

	&__preview {
		img {
			height: 220px;
    	width: 270px;
			object-fit: cover;
			top: 0;
			position: relative;
		}
	}

	@include media-breakpoint-down(md) {
		padding: 7.8125vw 7.8125vw 0vw;

		&__container {
			margin: 0;
		}

		&__title {
			margin-bottom: .9375vw;
			line-height: 6.5625vw;
			font-size: 4.375vw;
		}
	
		&__preview {
			img {
				height: 40vw;
				width: 71.25vw;
				top: -6.875vw;
			}
		}
	}
}