


.color-picker {
	min-height: 220px;

	.row {
		min-height: 220px;
    height: 100%;
	}

	&__container {
		margin-top: auto;
		margin-bottom: auto;
	}
	
	&__title {
		font-size: 18px;
    color: #666;
    display: block;
		text-align: right;
	}

	&__btns {
		display: flex;
    flex-wrap: wrap;
		justify-content: flex-end;
	}

	&__preview {
		max-height: 220px;
		height: 100%;
		position: relative;
		img {
			&.selected {
				opacity: 1;
				animation: fadeIn 300ms ease-in-out;
			}
			position: absolute;
			top: 50%;
			left: 40%;
			transform: translate(-50%, -50%);
			height: 220px;
    	width: 270px;
			object-fit: cover;
			opacity: 0;
			animation: fadeOut 300ms ease-in-out;
		}
	}

	@include media-breakpoint-down(md) {
		padding: 7.8125vw 7.8125vw 0vw;

		&__container {
			margin: 0;
		}

		&__title {
			margin-bottom: .9375vw;
			line-height: 6.5625vw;
			font-size: 4.375vw;
		}
	
		&__preview {
			max-height: 128px;
			img {
				height: 40vw;
				width: 71.25vw;
			}
		}
	}
}