
// Colours
$blockquote: #FF5E2B;
$blockquoteinfo: #469ed1;
$primary: #469ed1;
$secondary: #ed6a5a;
$light-green: #09c199;
$orange: #FF5E2B;
$light-green: #09c199;
$subbanner: #e0f9ff;
$subbanner-text: #085877;
$radio-shadow: #178b17;
$radio-bg: #53d75e;
$radio-bg-100: #dbfad1;
$radio-color-selected: #004966;
$radio-bg-hover: #e2fada;
$radio-border: #c6c6c6;
$footer-bg: #000;
$btn-next-bg: #ff5e2b;
$btn-next-border: #bc1010;

// $blockquote: #AEC2E1;
// $blockquoteinfo: #155263;
// $orange:#AEC2E1;
// $subbanner: #FEF9EF;
// $subbanner-text: #0e3945;
// $primary: #155263;
// $secondary: #FF6F3C;
// $btn-next-bg: #155263;
// $btn-next-border: #0e3945;
// $radio-shadow: #0e3945;
// $radio-bg: #155263;
// $radio-bg-100: #437482;
// $radio-color-selected: #fff;
// $radio-bg-hover: #b1c5cb;
// $radio-border: #437482;

$blockquote: #FEF9EF;
$blockquoteinfo: #272343;
$orange:#272343;
$subbanner: #FEF9EF;
$subbanner-text: #272343;
$primary: #272343;
$secondary: #fccb4b;
$btn-next-bg: #3D84A8;
$btn-next-border: #2a5c75;
$radio-shadow: #6d9c93;
$radio-bg: #3D84A8;
$radio-bg-100: #9DDFD3;
$radio-color-selected: #272343;
$radio-bg-hover: #DBF6E9;
$radio-border: #9DDFD3;


$blockquote: #F8B400;
$blockquoteinfo: #004445;
$orange:#F8B400;
$subbanner: #FEF9EF;
$subbanner-text: #004445;
$primary: #004445;
$secondary: #fccb4b;
$btn-next-bg: #2C786C;
$btn-next-border: #2a5c75;
$radio-shadow: #6d9c93;
$radio-bg: #2C786C;
$radio-bg-100: #9DDFD3;
$radio-color-selected: #004445;
$radio-bg-hover: #DBF6E9;
$radio-border: #9DDFD3;


// $btn-next-bg: #ff1744;
// $btn-next-border: #b2102f;
// $btn-next-bg: #053742;
// $btn-next-border: #03262e;