


.states {
	&__heading {
		text-align: center;
		color: $dark-blue;
		margin-top: 50px;
	}

	&__title {
		font-weight: 700;
    font-size: 46px;
	}

	&__subtitle {
		font-weight: 400;
    font-size: 25px;
		margin: 15px auto;
	}

	&__lists {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		text-align: center;
		margin-top: 60px;
		margin-bottom: 60px;

		&>a {
			width: 33.3%;
			text-decoration: none;
			font-weight: 500;
			font-size: 20px;
			margin-bottom: 16px;
			color: $dark-blue;

			&:hover {
				color: $light-red;
			}
		}
	}

	@include media-breakpoint-down(md) {
		&__heading {
			margin-top: 32px;
		}
		&__title {
			font-size: 28px;
		}
		&__subtitle {
			font-size: 20px;
		}
		&__lists {
			margin-top: 30px;
			margin-bottom: 30px;
			&>a {
				width: 50%;
				font-size: 15px;
			}
		}
	}


}