@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?cad8vl');
  src:  url('../fonts/icomoon.eot?cad8vl#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?cad8vl') format('truetype'),
    url('../fonts/icomoon.woff?cad8vl') format('woff'),
    url('../fonts/icomoon.svg?cad8vl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rocket:before {
  content: "\e91b";
}
.icon-cogs:before {
  content: "\e900";
}
.icon-gears:before {
  content: "\e900";
}
.icon-cog:before {
  content: "\e901";
}
.icon-gear:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-star-half:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-check-circle-o:before {
  content: "\e905";
}
.icon-check-square-o:before {
  content: "\e906";
}
.icon-check-square:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-envelope-o:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-linkedin-square:before {
  content: "\e90c";
}
.icon-linkedin:before {
  content: "\e90d";
}
.icon-facebook-official:before {
  content: "\e90e";
}
.icon-facebook-square:before {
  content: "\e90f";
}
.icon-facebook:before {
  content: "\e910";
}
.icon-facebook-f:before {
  content: "\e910";
}
.icon-0:before {
  content: "\e911";
  color: #fff;
}
.icon-1:before {
  content: "\e912";
  color: #fff;
}
.icon-2:before {
  content: "\e913";
  color: #fff;
}
.icon-3:before {
  content: "\e914";
  color: #fff;
}
.icon-4:before {
  content: "\e915";
  color: #fff;
}
.icon-5:before {
  content: "\e916";
  color: #fff;
}
.icon-6:before {
  content: "\e917";
  color: #fff;
}
.icon-7:before {
  content: "\e918";
  color: #fff;
}
.icon-8:before {
  content: "\e919";
  color: #fff;
}
.icon-9:before {
  content: "\e91a";
  color: #fff;
}
