
// Colours
// $primary: #2f9ee9;
// $dark-prim: #257eba;
// $light-prim: #58B1ED;
// $secondary: #10406a;


// $primary: #4caf50;
// $dark-prim: #357a38;
// $light-prim: #6fbf73;
// $secondary: darken(#4caf50, 12%);


// $primary: #ff9800;
// $dark-prim: #b26a00;
// $light-prim: #ffac33;
// $secondary: darken(#ff9800, 12%);


// $primary: #673ab7;
// $dark-prim: #482880;
// $light-prim: #8561c5;
// $secondary: darken(#673ab7, 12%);

$primary: #f44336;
$dark-prim: #aa2e25;
$light-prim: #f6685e;
$secondary: darken(#f44336, 12%);