
// Colours
// $light-green: #80c342;
// $secondary: #4d4d4f;

$light-green: #F0A500;
$secondary: #334756; 

$light-green: #00ADB5;
$secondary: #393E46;


$light-green: #F05454;
$secondary: #30475E; 

$light-green: #301B3F;
$secondary: #B4A5A5; 


$filter: brightness(100);