
// Colours
// BLUE
// $primary: #0063ae;
// $btn-bg: #a7d3ac;
// $btn-shadow: #68956d;
// $btn-color: #fff;
// $footer-bg: #005da9;

// GREEN
// $primary: #357a38;
// $btn-bg: #eeef20;
// $btn-shadow: #bfd200;
// $btn-color: #2b9348;
// $footer-bg: #2b9348;

// RED
// $primary: #CD113B;
// $btn-bg: #FF7600;
// $btn-shadow: #FFA900;
// $btn-color: #fff;
// $footer-bg: #8f0b29;

// ORANGE
// $primary: #D44000;
// $btn-bg: #FF7A00;
// $btn-shadow: #b25500;
// $btn-color: #fff;
// $footer-bg: #b25500;


// YELLOW
$primary: #f7b801;
$btn-bg: #f18701;
$btn-shadow: #a85e00;
$btn-color: #fff;
$footer-bg: #ac8000;