


.awards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		height: 160px;
		display: grid;
    place-items: center;
	}

	@include media-breakpoint-down(md) {
		justify-content: center;
	}
}