
// Colours
$error-red: #c92a2a;
$success: rgba(55,204,53,1);
// $dark-blue: $dark-blue;
// $btn-color: #ee024c;


// $dark-blue: #023047;
// $btn-color: #fb8500;
// $secondary: #af5d00;

// $dark-blue: #156064;
// $btn-color: #fb8f67;
// $secondary: #af6448;


// $dark-blue: #0ead69;
// $btn-color: #3bceac;
// $secondary: #299078;


$dark-blue: #d8572a;
$btn-color: #f7b538;
$secondary: #ac7e27;