.lets-sign-in-logo {
  margin-bottom: 80px;
}

.signin-container {
  margin-bottom: 160;
}

@media (max-width: 959.95px) {
  .lets-sign-in-logo {
    margin-bottom: 32px;
  }
  .signin-container {
    padding: 32px;
    margin: 0;
  }
}
