




.text-field {
	height: 90px;
	width: -webkit-fill-available;
	label {
		display: block;
		position: relative;
		color: #999;
		z-index: 1;
		padding-right: 1px;
		padding-left: 4px;
		transition: all .3s ease;
		top: -36px;
		left: 8px;
		font-size: 1.4rem;

		&.lg {
			top: -61px;
			left: 16px;
			font-size: 2rem;
			padding-right: 4px;
		}
	}

	input {
		width: inherit;
		display: block;
		position: relative;
		background: none;
		z-index: 2;
		border: 1px solid #4e76a9;
		color: #113451;
		border-radius: .4rem;
		margin-top: 1rem;
		font-size: 1.4rem;
		padding: 3px 8px;

		&.lg {
			padding: 12px 16px;
			font-size: 2rem;
		}

		&:focus{
			outline: none;
			border-color: $dark-blue;

			+label {
				top: -50px;
				font-size: .875rem;
				background: #fff;
				width: fit-content;
				color: $dark-blue;
				z-index: 3;
				&.lg {
					top: -86px;
					left: 8px;
					font-size: 1.1rem;
				}
			}
		}

		&.parsley-success {
			border-color: $success;
			+label {
				background: #fff;
				width: fit-content;
				color: $success;
				z-index: 3;
				top: -50px;
				font-size: .875rem;
				&.lg {
					top: -86px;
					left: 8px;
					font-size: 1.1rem;
				}
			}
		}

		&.parsley-error {
			border-color: $error-red;
			
			+label {
				transition: none;
				background: #fff;
				width: fit-content;
				color: $error-red;
				z-index: 3;
				top: -50px;
				font-size: .875rem;
				&.lg {
					top: -86px;
					left: 8px;
					font-size: 1.1rem;
				}
			}
		}
	}


	@include media-breakpoint-down(md) {
		height: 50px;
		margin: auto;
		label {
			&.lg {
				top: -39px;
				left: 8px;
				font-size: 1.4rem;
				padding-right: 1px;
			}
		}

		input {
			padding-right: 14px;
			margin-top: 0;
			&.lg {
				font-size: 1.4rem;
				padding: 3px 8px;
			}

			&.parsley-success {
				border-color: $success;
				+label {
					&.lg {
						top: -54px;
						font-size: .875rem;
						left: 4px;
					}
				}
			}
	
			&.parsley-error {
				border-color: $error-red;
				
				+label {
					&.lg {
						top: -54px;
						font-size: .875rem;
						left: 4px;
					}
				}
			}

			&:focus{
				+label {
					&.lg {
						top: -54px;
						font-size: .875rem;
						left: 4px;
					}
				}
			}
	
	
		}

		
	}
	
}