

footer{
	background:#e3e3e4;
	padding:15px 0;
	width:100%;
	text-align:center;
}
footer p{
	font-size:11px;
}

footer .footer-links {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

footer a{
	font-size:12px;
	color:#000;
	text-decoration:underline;
	margin-bottom:15px;
	display:block;
	margin-right: .5rem;
	border-right: 1px solid;
    padding-right: 1rem;
    line-height: 1;

	&:last-child {
		border-right: none;
	}
} 

// footer {
// 	margin-top: 60px;
// 	background: rgba(255,255,255,0);
// 	color: rgb(221, 221, 221);
// 	a { color: inherit; }
// 	@include media-breakpoint-down(md) {
// 		margin-top: 40px;
// 		p,a { transform: scale(0.68); }
// 	}
// }