


.btn-radio {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 70px;
	box-shadow: 0 6px 0 0 $btn-color;
	border: none;
	text-align: center;
	color: #fff;
	background: $bg-btn;
	outline: none;
	cursor: pointer;
	transition: all .3s ease;
	color: #fff;
	font-weight: 700;
	width: 100%;
	font-size: 30px;

	&:hover {
		transform: translateY(6px);
    box-shadow: none;
	}
	
	@include media-breakpoint-down(md) {
		font-size: 6.25vw;
		height: 15.625vw;
		box-shadow: 0vw 1.5625vw 0vw $btn-color;

		&:hover {
			transform: translateY(1.5625vw);
			box-shadow: none;
		}
	}
}


// .form-control {
// 	+.input-valid-icon {
// 		font-size: 1.285rem;
// 		i {
// 			display: none;
// 		}
// 	}

// 	.parsley-error {
// 		color: #c92a2a;
// 	}
// 	.parsley-success {
// 		color: $bg-btn;
// 	}
// }