

.why-section {
	padding-top: 3rem;
	&__title {
		font-size: 25px;
    font-weight: 700;
    font-family: "Roboto Slab";
	}

	&__card-img  {
		border-radius: 50%;
		border: 6px solid $primary;
		margin: 0 auto;
		margin-bottom: 1rem;
		max-width: 200px;
	}

	&__card-title {
		margin-bottom: .75rem;
		font-size: 1.4rem;
		font-weight: 500;
    font-family: 'Roboto Slab';
	}

	&__card-text {
		font-size: 16px !important;
		line-height: 1.5 !important;
		font-weight: normal !important;
	}
	@include media-breakpoint-down(md) {
		padding-top: 1rem;
	}
}