
body {
	font-family: sans-serif;
}

.content-section {
	background-color: $blue;
	padding-top: 50px;
	// padding-bottom: 70px;

	@include media-breakpoint-down(md) {
		padding-top: 11.40625vw;
	}
}

@include media-breakpoint-down(md) {
	.hidden-mobile {
		display: none;
	}
	.hidden-desktop {
		display: block;
	}
}

@include media-breakpoint-up(md) {
	.hidden-desktop {
		display: none;
	}
	.hidden-mobile {
		display: block;
	}
}

@include media-breakpoint-up(xl) {
	.container {
		max-width: 992px;
	}
}


/* =Parsley validation ================================================================================*/
.error-container ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
.error-container li {
	color: #c92a2a;
	background: #ffc9c9;
	margin-bottom: 0.5rem;
	padding: 0.25rem 0.875rem;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #ff8787;
	font-size: 1rem;
	line-height: 30px;

	@include media-breakpoint-down(md) {
		font-size: 11px;
	}
}