
// Colours
$primary: #39378A;
$primary-100: #605fa1;
$primary-800: #272660;
$btn-color: #00be5f;

$primary: #2196f3;
$primary-100: #4dabf5;
$primary-800: #1769aa;
$btn-color: #f50057;

$primary: #357a38;
$primary-100: #6fbf73;
$primary-800: #4caf50;
$btn-color: #29A19C;

$primary: #b26a00;
$primary-100: #ffac33;
$primary-800: #ff9800;
$btn-color: #00AF91;

$primary: #aa2e25;
$primary-100: #f6685e;
$primary-800: #f44336;
$btn-color: #EB8242;