

.btn-orange {
	color: #fff;
	background-color: $light-red;
	padding: 0.6vh 2vw;
	min-width: 64px;
	box-sizing: border-box;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-family: Open Sans, sans-serif;
	font-weight: 500;
	line-height: 1.9;
	border-radius: 0;
	text-transform: none;

	&:hover {
		color: #fff;
		transform: scale(1.06);
		box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
		background-color: #ff9800;
		text-decoration: none;
	}
}