@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.2em;
}

p {
	margin-bottom: 0;
}

.content {
	max-width: 860px;
	margin: 0 auto;
	.zip {
		max-width: 300px;
    margin-left: auto;
    margin-right: auto;
	}
	p {
		font-size: 18px;
		line-height: 36px;
		margin: 30px 0px;
	}
	@include media-breakpoint-down(md) {
		p {
			font-size: 15px;
			line-height: 25px;
			margin: 30px 0px;
		}
	}
}

.step-content {
	padding-top: 50px;
	padding-bottom: 50px;

	@include media-breakpoint-down(md) {
		padding-top: 32px;
		padding-bottom: 32px;
	}
}

.content-wrapper {
	max-width: 760px;
	margin-right: auto;
	margin-left: auto;
}

.content-header {
	text-align: center;
	&__title {
		font-size: 42px;
    font-weight: bold;
		margin-bottom: 15px;
	}
	&__subtitle {
		font-size: 36px;
    color: #404040;
		font-weight: 700;
	}
	@include media-breakpoint-down(md) {
		&__title {
			font-size: 28px;
		}
		&__subtitle {
			font-size: 22px;
		}
		&>p {
			font-size: 18px;
		}
	}
}

.color-blue {
	color: #2989f5;
}

.gray-box {
	background-color: #fafafa;
	border: 3px solid #ffffff;
	border-radius: 10px;
}

@include media-breakpoint-down(md) {
	.hidden-mobile {
		display: none !important;
	}
	.hidden-desktop {
		display: block;
	}
}

@include media-breakpoint-up(md) {
	.hidden-desktop {
		display: none !important;
	}
	.hidden-mobile {
		display: block;
	}
	
}


/* =Parsley validation ================================================================================*/
.error-container ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
.error-container li {
	color: #c92a2a;
	background: #ffc9c9;
	margin-bottom: 0.5rem;
	padding: 0.25rem 0.875rem;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #ff8787;
	font-size: 1rem;
	line-height: 30px;

	@include media-breakpoint-down(md) {
		font-size: 11px;
	}
}