

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #333;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}


.custom-container {
	max-width: 800px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.page {
	min-height: 100vh;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


@include media-breakpoint-down(md) {
}


/* =Parsley validation ================================================================================*/
.error-container ul {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}
.error-container li {
	color: #c92a2a;
	background: #ffc9c9;
	margin-bottom: 0.5rem;
	padding: 0.25rem 0.875rem;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #ff8787;
	font-size: 1rem;
	line-height: 30px;

	@include media-breakpoint-down(md) {
		font-size: 11px;
	}
}