.option-radio {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}

.btn-radio {
	padding-left: 15px;
	cursor: pointer;
	color: $primary;
	font-size: 11px;
	display: flex;
	align-items: center;
	clear: both;
	font-size: 18px;
	font-weight: normal;
	border: 1px solid $primary;
	background: #FFF;
	border-radius: 5px;
	height: 60px;
	width: 100%;
	line-height: 60px;
	position: relative;
	margin-bottom: 10px;
	text-align: left;

	&>i {
		visibility: hidden;
		opacity: 0;
		color: $primary-800;
		position: absolute;
		right: 24px;
    font-size: 1.285rem;
		transition: opacity 300ms ease-in-out;
	}
	
	&:hover {
		color: $primary-800;
		border-color: $primary-800;
		&>i {
			visibility: visible;
			opacity: 1;
		}
	}
}


.form-custom {
	border-color: $primary;

	&:focus {
		border-color: none;
		box-shadow: 0 0 0 0.25rem lighten($primary-100, 25%);
	}
}