.forgot-pw-container {
  margin-top: 130px;
}

.lets-logo {
  margin-top: 110px;
}

.forgotpw-input {
  width: 400px;
}

.forgotpw-btn {
  padding: 12px 24px !important;
  font-size: 1rem !important;
  text-transform: none !important;
}

.forgotpw-btn:hover {
  background-color: #ffffff !important;
  border: 1px solid #ed3c60;
  color: #ed3c60;
}
