
// Colours
// $dark-green: #003D3B;
// $green: #71C780;
// $main-orange: #FF6340;
// $dark-green: #3490DE;
// $green: #6FE7DD;
// $main-orange: #FF6340;
// $dark-green: #27496D;
// $green: #00A8CC;
// $main-orange: #FF6340;
$dark-green: #d8572a;
$green: #f7b538;
$main-orange: #c32f27;


// Font Family
$arial: 'Roboto Slab', serif;