
.form-wrapper{
	position: relative;
	z-index: 1;
	margin: auto;
	padding-top: 6.875vw;
	width: 84.375vw;
	border-radius: 3.125vw;
	background: #f8f8f8;

	&__header {
		margin: 0 auto 3.125vw;
    width: 64.375vw;
    font-family: "Caveat",sans-serif;
    font-weight: 400;
    font-size: 5.9375vw;
    line-height: 5.15625vw;
    text-align: center;
    color: #fe9c52;
	}

	@include media-breakpoint-up(lg) {
		padding-top: 4.875vw;
		width: 74.375vw;
		&__header {
			font-size: 3.9375vw;
    	line-height: 4.15625vw;
		}
	}
}

.question {
	margin: 0 auto;
	width: 64.375vw;
	height: 100%;

	&__title {
		margin-bottom: 6.25vw;
    font-weight: 700;
    font-size: 4.375vw;
    line-height: 5.46875vw;
    text-align: center;
    color: #4a4a4a;
	}

	&__meta {
		margin-bottom: 2.575rem;
		&>p {
			font-size: 12px;
			color: gray;
			font-style: italic;
			margin-top: 12px;
			margin-bottom: 0;
			text-align: center
		}
	}

	&__progress {
		display: flex;
    justify-content: center;
    align-items: center;
    height: 16.5625vw;
    box-shadow: 0vw -0.9375vw 1.5625vw #e6e6e6;
		&--label {
			margin-right: 5.3125vw;
			font-family: "Caveat",sans-serif;
			font-weight: 400;
			font-size: 6.25vw;
			color: #70cba8;
		}

		&--steps {
			display: flex;
			justify-content: space-between;
			width: 41.25vw;
		}

		&--step {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 8.875vw;
			height: 8.21875vw;
			font-size: 6.25vw;
			color: #70cba8;
			border: .625vw dotted #70cba8;
			border-radius: 1.5625vw;
			background: #effaf5;
			transition: all .5s ease;

			&.active {
				color: #fff;
				border-color: #00a65a;
				background: #00a65a;
			}
		}
	}

	&__three {
		border: .625vw solid #00a65a;
		border-radius: 3.125vw;
		font-size: 4.6875vw;
		background: #fff;
		padding: 0vw 4.0625vw;
		height: 15.625vw;
		transition: all .2s ease;
		color: #5b5b5b;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: none;
		width: 100%;

		&.is-invalid {
			border-color: #c92a2a;
		}
	}

	@include media-breakpoint-up(lg) {
		width: 54.375vw;
		&__title {
			font-size: 3.375vw;
			margin-bottom: 3.25vw;
		}

		&__progress {
			height: 10.5625vw;

			&--label {
				font-size: 4.25vw;
			}
			&--steps {
				width: 34.25vw;
			}
			&--step {
				width: 6.875vw;
    		height: 6.21875vw;
			}
		}

		&__three {
			font-size: 2.6875vw;
			padding: 0vw 2.0625vw;
			height: 8.625vw;
		}
	}
}