
// Colours
$primary: #8ab91d;
$main-orange: #f08720;
$dark-orange:#d3771d;
$gray: #b3b3b3;
$muted: #e7e7e7;
$error-red: #c92a2a;
$success: #198754;

// For reflex grid so that we can ensure that the namespace doesn't class
// with the GeneratePress grid. So classes now become rf-col-md-8 and rf-grid
$reflex-prefix  : rf- !default;