


.cards {
	margin: 24px auto;

	&__item {
		text-align: center;
	}

	&__icon {
		padding: 20px 0;
		color: $main-green;
    font-size: 56px;
	}

	&__title {
		text-align: center;
    font-size: 28px;
		color: $main-blue;
		font-weight: 700;
	}

	&__content {
		text-align: center;
    font-size: 16px;
    color: $main-green;
	}
	&__btn-container {
		margin: 24px auto;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}