

.radio-btn {
	font-weight: 700;
	position: relative;
	display: block;
	cursor: pointer;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 110px;
	height: 110px;

	&:hover, &.checked {
		&::before {
			background-color: $aqua;
		}
	}
	&.checked {
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background-repeat: no-repeat;
			background-image: url(https://coreg-landers.s3.amazonaws.com/6f46747ff2634a479b48a4d58e473783.png);
			background-position: 95% 5px;
			width: 110px;
			height: 110px;
		}
	}
	&::before {
		position: absolute;
		top: 0;
		left: 50%;
		display: block;
		content: '';
		border: 1px solid $main-blue;
		border-radius: 4px;
		background-color: #fff;
		background-size: 50%;
		width: 110px;
		height: 110px;
		margin-left: -55px;
		background-repeat: no-repeat;
    background-image: url(https://coreg-landers.s3.amazonaws.com/7dd5977b58564e699edcd2fee2ae8e25.png);
    background-position: center center;
	}

	&.sex-2 {
		&::before {
			background-image: url(https://coreg-landers.s3.amazonaws.com/c7eb1a499fd74e1fabe4ea6d3b7939ab.png);
		}
	}

	@include media-breakpoint-down(md) {
		height: 90px;
		width: 90px;
		&::before {
			height: 90px;
			width: 90px;
			margin-left: -44px;
		}
		&.checked {
			&::after {
				width: 90px;
				height: 90px;
			}
		}
	}
}


.btn-question-nav {
	font-size: 1.6em;
	line-height: 1.3;
	font-weight: 500;
	display: block;
	margin: 0 auto;
	padding: .9em .8em;
	white-space: normal;
	box-shadow: 0 0 0 1px $main-blue;
	width: 100%;
	border-radius: .7em;
	text-align: center;
	color: #fff;
	background-color: $aqua;
	border: 4px solid #fff;
	background: linear-gradient(to bottom,#74e3d4,$aqua);

	&:hover {
		background: linear-gradient(to bottom,$aqua,$aqua);
	}

	@include media-breakpoint-down(md) {
		font-size: 1.125em;
		line-height: 1.6;
	}
}