
body {
	font-family: "Poppins",sans-serif;
}


@include media-breakpoint-down(md) {
	.hidden-mobile {
		display: none;
	}
	.hidden-desktop {
		display: block;
	}
}

@include media-breakpoint-up(md) {
	.hidden-desktop {
		display: none;
	}
	.hidden-mobile {
		display: block;
	}
	
}


/* =Parsley validation ================================================================================*/
.error-container {
	width: 100%;
	ul {
		margin: 0 auto;
		padding: 0;
		list-style-type: none;
		li {
			color: #c92a2a;
			background: #ffc9c9;
			margin-bottom: 0.5rem;
			padding: 0.25rem 0.875rem;
			border-radius: 4px;
			box-shadow: 0 0 0 1px #ff8787;
			font-size: .8rem;
			line-height: 30px;
		
			@include media-breakpoint-down(md) {
				font-size: 11px;
			}
		}
	}
}
