
// Colours
$main-green: rgb(53, 188, 144);
$main-blue: rgb(21, 36, 86);
// $main-green: #FFC93C;
// $main-blue: #155263;
$main-green: #00A8CC;
$main-blue: #142850;
// $main-green: #6bd425;
// $main-blue: #42113c;
// $main-green: #001524;
// $main-blue: #15616d;