
// Colours
$red: #c90c0c;
$green: #096;
$dark: #000200;
$gray: #3a3a3a;
$orange: rgb(240, 119, 0);
$light-green: #95b314;
$light-green2: #c7de5f;
$light-green3: #b6e7ee;
$btn-color: inherit;


$light-green: #482880;
$light-green2: #673ab7;
$light-green3: #8561c5;
$btn-color: #fff;


$light-green: #1769aa;
$light-green2: #2196f3;
$light-green3: #4dabf5;
$btn-color: #fff;

$light-green: #b28704;
$light-green2: #ffc107;
$light-green3: #ffcd38;
$btn-color: #fff;


$light-green: #aa2e25;
$light-green2: #f44336;
$light-green3: #f6685e;
$btn-color: #fff;